<h3>Your below order has been placed and will be shipped to you within the next 3 to 4 working days: </h3><br/><br/>
<h3>Total Price: <%= number_to_currency(current_order.subtotal, :locale => :ir) %></h3>
