<div class="cart_item">
	<% if current_order.order_items.size == 0 %>
    <h3>There are no items currently in your basket!</h3>
    	<div class="custom_btn">
				<%= link_to 'Continue Shopping', shop_path, class:"btn btn-primary" %>
			</div>
    <% else %>
			<%= render "carts/cart_item" %>
	<% end %>
</div>