<div id="footer">
	<%= image_tag 'foursides_logo.jpg' %> &copy; 2018 foursides 
<div class="social-media-footer">
	<%= render 'layouts/social-media' %>
	
	<%= render 'layouts/search' %>
	
	
</div>
</div>

