<div id="footer">
	<div class="copyright">
		<%= image_tag 'foursides_logo.jpg' %> &copy; 2018 foursides 
	</div>
	<div class="social-media">
		<%= render 'layouts/social-media' %>
	</div>
</div>

<script>

 $(document).ready(function() {

   var docHeight = $(window).height();
   var footerHeight = $('#footer').height();
   var footerTop = $('#footer').position().top + footerHeight;

   if (footerTop < docHeight) {
    $('#footer').css('margin-top', 70+ (docHeight - footerTop) + 'px');
   }
  });
</script>